/TCA.Sorteador.v12.suo
/TCA.Modelagem/ReverseEngineering.Log.xml
/TCA.Nucleo.CasosDeUso/bin/
/TCA.Nucleo.CasosDeUso/obj/
/TCA.Nucleo.DAL.Interfaces/bin/
/TCA.Nucleo.DAL.Interfaces/obj/
/TCA.Nucleo.Entidades/bin/
/TCA.Nucleo.Entidades/obj/
/TCA.Nucleo.Testes/bin/
/TCA.Nucleo.Testes/obj/
