/TCA.Sorteador.v12.suo
/TCA.Modelagem/ReverseEngineering.Log.xml
/TCA.Nucleo.CasosDeUso/bin/
/TCA.Nucleo.CasosDeUso/obj/
/TCA.Nucleo.DAL.Interfaces/bin/
/TCA.Nucleo.DAL.Interfaces/obj/
/TCA.Nucleo.Entidades/bin/
/TCA.Nucleo.Entidades/obj/
/TCA.Nucleo.Testes/bin/
/TCA.Nucleo.Testes/obj/
/TCA.DAL.EntityFramework.SQL/bin/
/TCA.DAL.EntityFramework.SQL/obj/
/TCA.Visao.Web.MVC.Testes/bin/
/TCA.Visao.Web.MVC.Testes/obj/
/TCA.Visao.Web.MVC/bin/
/TCA.Visao.Web.MVC/obj/