@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Para maiores informações <a class="btn btn-primary" href="http://blog.8thlight.com/uncle-bob/2012/08/13/the-clean-architecture.html">Clique aqui</a></p>
