@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TCA - Sorteador</h1>
    <p class="lead">Sorteador é um projeto de exemplo para a The Clean Architecture, proposta por Robert C. Martin.</p>
    <p class="lead">Esta é a implementação com camada de visão em ASP.NET MVC.</p>
</div>